.menu {
   list-style: none;
    float: right;
    
    
}
html {
    scroll-behavior: smooth;
    
}

img {
    transition: transform 0.2s;\
    border: 10px solid #AAAAAA;
    
}

img:hover {
    
    transform: scale(0.9);
    
}